/*General*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}
html{
    font-size: 14px;
}
body{
    background-color: hsl(218, 28%, 13%);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    padding: 0rem 2rem;
}
/*Navbar*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
    background-color: hsl(217, 28%, 15%);
}

.nav-logo{
    transform: scale(0.5);
    margin-left: -1.5rem;
}

.nav-links{
    
    display: flex;
    flex-basis: 1;
    flex-grow: 1;
    justify-content: space-evenly;
    max-width: 25rem;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    transition: 1s;
}
.nav-links a:hover{
    text-decoration: underline;
}
/*Intro*/

.intro{
    background: url(../images/bg-curvy-mobile.svg) no-repeat center,linear-gradient(hsl(217, 28%, 15%) 60%,hsl(218, 28%, 13%)60%)  ;
    margin-top: 0rem;
    padding-top: 2rem;
}
.intro-img img{
width: 100%;

}
.intro-title{
    color: #fff;
    font-size: 1.8rem;
    font-family: "Raleway",sans-serif;
    margin-top: 2rem;
    line-height: 2.5rem;
    
}

.intro-text{
    color: #fff;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-family: "Open Sans",sans-serif;
}
.intro-btn{
    margin-top: 2rem;
    text-decoration: none;
    font-family: "Raleway",sans-serif;
    color: #fff;
    background:linear-gradient(0.25turn, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    font-size: 1.5rem;
    font-weight: 700;
    width: 20rem;
    padding: 1rem;
    border-radius: 2rem;
    transition: all 0.5s;
}
.intro-btn:hover{
    background:linear-gradient(0.25turn, hsl(176, 68%, 64%), hsl(176, 68%, 64%));
}
@media(min-width:768px){
    .intro{
        background: url(../images/bg-curvy-desktop.svg) no-repeat 50% 100%,linear-gradient(hsl(217, 28%, 15%) 100%,hsl(218, 28%, 13%)100%)  ;
    }
    .intro-title{
        font-size: 2.8rem;
        max-width: 700px;
        line-height: 4rem;
        margin-bottom: 3rem;
    }
    .intro-text{
        font-size: 1.5rem;
        max-width: 700px;
        line-height: 2.5rem;
    }
}
/*Services3*/

.services-part{
    color: #fff;
    font-family:"Raleway",sans-serif;
    margin-bottom: 8rem;
}
.services-part:last-child{
    margin-bottom: 0rem;
}
.services-part-title{
    margin-top: 2rem;
}

.services-part-text{
    margin-top: 1rem;
    line-height: 1.4rem;
    font-size: 1.1rem;
    font-family: "Open Sans",sans-serif;
}

@media(min-width:768px){
    .services{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .services-part{
        flex-basis: 50%;
        padding: 0rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services-part-text{
        max-width: 400px;
        line-height: 1.5rem;
    }
    .services-part:last-child{
        margin-bottom: 8rem;
    }
}

/*CTA*/
.CTA-img img{
    width: 100%;
}

.CTA-title{
    color: #fff;
    font-family:"Raleway",sans-serif;
    margin-top: 2rem;
    font-size: 1.41rem;
}
.CTA-text{
    color: #fff;
    font-family: "Open Sans",sans-serif;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.7rem;
    text-align: left;
}

.br{
    display: block;
    margin-top: 1.5rem;
}

.CTA-link{
    text-align: left;
    align-self: flex-start;
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    font-size: 1.1rem;
    margin-top: 1.5rem;
    padding: 0rem 0rem 0.3rem 0rem;
    border-bottom: 2px solid hsl(176, 68%, 64%);
    display: flex;
    align-items: center;
    font-family: "Open Sans",sans-serif;
    width: 170px;
}

.CTA-link svg{
    margin-left: 0.7rem;
}

.CTA-link:hover
{
    color: #fff;
    border-color: #fff;
}
.CTA-link:hover svg use
{
    fill: #fff !important;
}
@media(min-width:1200px){
    .CTA{
        flex-direction: row;
    }
    .CTA-info{
        margin-left: 5rem;
    }
    .CTA-title{
        text-align: left;
    }
}
/*Testimonials*/
.testimonials-quotes{
    align-self: flex-start;
}
.testimonials-card{
    background-color: hsl(219, 30%, 18%);
    padding: 1.7rem 1.5rem 1.5rem;
    border-radius: 0.4rem;
    font-family: "Open Sans",sans-serif;
    text-align: left;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 3rem;
}

.card-text{
    line-height: 1.7rem;
}

.card-profile{
    display: flex;

    margin-top: 2rem;
}
.profile-pic{
    width: 15%;
    
}
.profile-pic img{
    width: 100%;
    border-radius: 50px;
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
}

.name{
    font-weight: 700;
}

.job{
    font-size: 0.8rem;
}

@media(min-width:768px){
.testimonials{
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.testimonials-quotes{
    margin-top: -3rem;
    margin-right: -5rem;
}
.testimonials-card{
    flex-basis: 30%;
}
}
/*email Registry*/
.reg{
    background: linear-gradient(hsl(218, 28%, 13%)50%,hsl(216, 53%, 9%)50%);
}
.reg-card{
    background-color: hsl(219, 30%, 18%);
    padding: 1.7rem 1.5rem 1.5rem;
    border-radius: 0.4rem;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 3rem;
    max-width: 768px;
}

.reg-title{
    font-family:"Raleway",sans-serif;
}
.reg-text{
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.7rem;
}

.reg-form{
    margin-top: 1.5rem;
}

.email{
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
}

.email-btn{
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    background:linear-gradient(0.25turn, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-top: 1rem;
    transition: all 1s;
    cursor: pointer;
}
.email-btn:hover{
    background:linear-gradient(0.25turn, hsl(176, 68%, 64%), hsl(176, 68%, 64%))
}

@media(min-width:1200px){
    .reg-card{
        padding:3rem 5rem;
    }

    .reg-form{
        display: flex;
    }

    

    .email-btn{
        margin-top: 0rem;
        margin-left: 2rem;
        width: 20rem;
    }
}
/*footer*/
.footer{
    text-align: left;
    color: #fff;
    padding: 2rem 2rem;
    background-color: hsl(216, 53%, 9%);
    display: flex;
    flex-direction: column;
}
.foot-logo{
    margin-bottom: 2rem;
}
.contact-info{
    margin-bottom: 5rem;
}
.address,
.phone,
.mail{
    display: flex;
}

.address-text,
.phone-number,
.mail-text{
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-family: "Open Sans",sans-serif;
    line-height: 1.7rem;
    font-size: 1.1rem;
}

.foot-links{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.foot-links a{
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
    margin-bottom: 1rem;
}
.foot-links a:hover{
    font-weight: 600;
}
.socialMedia{
    display: flex;
    align-self: center;
}

.socialMedia a{
    color: #fff;
    padding:0.7rem 1rem;
    border: 1px solid #fff;
    border-radius: 100%;
    margin-left: 1rem;
}

.socialMedia a:hover{
    border-color: hsl(176, 68%, 64%);
    color: hsl(176, 68%, 64%);
}
@media(min-width:768px){
    .footer{
        height: 300px;
    }
.foot-info{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 1rem;
}
.contact-info{
    height: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    flex-basis: 50%;
}
.address{
    flex: 1 1 253px;
    width: 50%;
}
.phone,
.mail{
    flex: 0 1 23px;
    width: 50%;
    margin-left: 2rem;
}

.foot-links,
.socialMedia{
    flex-basis: 10%;
}

.socialMedia{
    height: 36px;
    align-self: flex-start;
}

.address-text,
.phone-number,
.mail-text,
.foot-links a{
    font-size: 0.8rem;
}
.address-text,
.phone-number,
.mail-text{
    margin-left: 1rem;
}
}

@media(min-width:1280px){
    .phone,
    .mail{
        flex: 0 1 23px;
        width: 50%;
        margin-left: 5rem;
    }
    
}
